    <div class="login-dark">
        <form (submit)="login()" >
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
                <i class="icon ion-social-buffer"></i>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Enter Email"  ngModel required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Enter Password"  ngModel required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" >Log In</button>
            </div>
                <a class="forgot" href="#">Forgot your email or password?</a>
		    </form>
    </div>
